:root {
  --CoffeeBrown: #634832;
  --Capuccino: #dbc1ac;
  --Expresso: #967259;
  --CoffeeText: #38220f;
  --WhiteCoffee: #ece0d1;
}

body {
  background-color: var(--WhiteCoffee);
  color: var(--CoffeeText);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
}

.btn-Capuccino {
  color: var(--CoffeeBrown);
  border-color: var(--CoffeeBrown);
}

.btn-Capuccino:hover {
  background-color: var(--CoffeeBrown);
  color: var(--Capuccino);
}

.CoffeeBrown {
  color: var(--CofffeeBrown);
}

.cart-icon {
  color: var(--CoffeeBrown);
  cursor: pointer;
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(70, 45, 6, 0.5));
  opacity: 0.8;
  background-size: cover;
  background-position: center;
}

.about-background {
  min-height: 60vh;
}

.footer {
  background-color: var(--CoffeeText);
  color: var(--Capuccino);
}
